{% load openlayers %}
{{ map.name }}

{% div_for_map map %}

</div>

<script>
    
    var {% map_var map %} = {% map_instance map %}
    
    //raster layers
    {% for layer in map.raster_layers.all %}
    {% with u=layer.id|stringformat:"s" %}
    {% include "_raster_layer_js_instance.js" with layer=layer varname="layer_r_"|add:u %}    
    {% map_var map %}.addLayer({{ "layer_r_"|add:u }});
    {% endwith %}
    {% endfor %}
    
    //vector layers
    {% for layer in map.vector_layers.all %}
    {% with u=layer.id|stringformat:"s" %} 
    {% include "_vector_layer_js_instance.js" with layer=layer varname="layer_v_"|add:u %}
    {% map_var map %}.addLayer({{ "layer_v_"|add:u }});
    {% endwith %}
    {% endfor %}
    
    //zooming
    {% map_var map %}.zoomToMaxExtent();
    
    
</script>